/* etslização das páginas index e web. */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap');

body {
    font-family: poppins;
   
      
    font-size: 18px;
    color: black;
    margin: 0;
    padding: 0;



}



hr {
    
    height: 3px;
    border: none;
    border-bottom: dashed;
}


.container {
  
    border: solid white;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: white 8px;
    padding: 16px;
    width: 80%;
    max-width: 800px;
    min-width: 500px;
    padding: 16px;
    

}

.fundo {
   
    filter: grayscale();
    background-image: url(../imagens/fundo-tecnologia.webp);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 400px;
   margin-bottom: 10px;
   background-size: cover;
  



   
  
}
h1 {
    color: white;
    text-transform: uppercase;
    font-family: 'Phudu', cursive;
    margin: auto;

    
}


h2 {
    font-family: 'Playfair Display', serif;
    border: crimson solid 2px;
    border-radius: 8px 0 8px 0;
    box-shadow: red 0 0 5px;
    display: inline-block;
    padding: 8px;
}

p a {
    color: crimson;
    }

    p a:hover {
        background-color:black;
        
    }

    nav a:hover {
        background-color: black;
        
    }

    nav a {
        color: crimson;
    }

    li::marker {
        content: none ;
        content: "✔️ ";
    
        }

       figure {
        margin: 0;
        text-align: center;
       }

       
       
       

      
        






